<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="stepDefinitions.WishlistPage"/>
      <class name="stepDefinitions.WAicon"/>
      <class name="stepDefinitions.openUrlSteps"/>
      <class name="stepDefinitions.PersonalizedGiftsPage"/>
      <class name="stepDefinitions.BacktoHomePage"/>
      <class name="stepDefinitions.SigninPage"/>
      <class name="stepDefinitions.SearchProd"/>
      <class name="stepDefinitions.ViewAllPage"/>
      <class name="stepDefinitions.AllProductPage"/>
      <class name="stepDefinitions.SelectItem"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
